{% extends "base.html" %}
{% block titleAndNavbar %}Veículos Vendidos{% endblock %}

{% block corpo %}
    
    <div class="container mt-5">
      <h3>Veículos Vendidos</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Ano de Fabricação</th>
            <th scope="col">Chassi</th>
            <th scope="col">Data da Venda</th>
            <th scope="col">Valor da Venda</th>
          </tr>
        </thead>
        <tbody>
          {% for v in veiculos %}
          
          <tr>
            <td>{{v.id}}</td>
            <td>{{v.marca}}</td>
            <td>{{v.modelo}}</td>
            <td>{{v.ano_fabricacao}}</td>
            <td>{{v.chassi}}</td>
            <td>{{v.data_venda}}</td>
            <td>R$ {{v.valor_venda}}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>

    </div>

{% endblock %}