{% extends "base.html" %}
{% block titleAndNavbar %}Relatório Mensal{% endblock %}

{% block corpo %}
    <div class="container mt-5">
      
      <form action="/relatorioMensal" method="POST" class="row g-4">
        <div class="col-md-12">
          <select select class="form-select" name="mes" id="mes">
            {% for m in meses %}
            <option value="{{m.data_venda.month, m.data_venda.year}}">{{m.data_venda.month}}/{{m.data_venda.year}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="d-grid gap-2">
          <button class="btn btn-dark" type="submit">Confirmar</button>
        </div>
      </form>
    </div>
{% endblock %}